
.order-tracking-list {
    margin-left: 17px;

    li {
        margin-bottom: 10px;

        &:last-child {
            .order-box {
                opacity: unset;
            }
        }

        .order-box {
            opacity: unset;
            height: 100%;
            margin-bottom: 2px;
            display: flex !important;
            align-items: flex-start !important;

            .left-icon {
                background-color: #ffffff !important;
                border: 2px solid rgba(var(--theme-color), 1);
                i {
                    color: unset;
                }
            }

            .right-content {
                h6 {
                    color: rgba(var(--title), 1);   
                }
            }
        }
    }

    .finish {
        &:last-child {
            .order-box {
                opacity: unset;
                .main-content {
                    opacity: 0.8;
                }
            }
        }

        .order-box {
            opacity: unset;
            .main-content {
                opacity: 0.8;
            }

            .left-icon {
                background-color: rgba(var(--theme-color), 1) !important;
                i {
                    color: rgba(var(--white), 1);
                }
            }
        }
    }
}

.ecommerce-address-section {
    .address-list {
        .address-box {
            padding: 16px 14px;
            border-radius: 5px;
            background-color: rgba(255,186,70,0.05);
            border: 1px solid rgba(var(--theme-color), 1);

            .address-name {
                position: relative;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                gap: 9px;
                margin-bottom: 8px
            }
            
            .address-detail {
                p {
                    color: rgba(var(--theme-color), 1);
                }
            }
        }
    }
}

.button-complete-task {
    width: calc(100% - calc(31px + (38 - 31) * ((100vw - 320px) / (600 - 320))) - calc(10px + (17 - 10) * ((100vw - 320px) / (600 - 320))));
    float: right;
}